<div class="new-question">
  <a href="#" class="make-question">質問する</a>
</div>


<div class="row-title">
  ＜質問一覧＞
</div>

<div class="questions">
  <div class="question">
    <div class="upper-space">
      <div class="question-title">
        質問タイトル
      </div>
      <div class="question-category">
        進路相談
      </div>
      <div class="question-date">
        2025/7/23(水) 21:41:51
      </div>
    </div>
    <div class="lower-space">
      <div class="question-user">
        YU
      </div>
      <div class="deadline">
        返答希望 7/25(金)まで
      </div>
    </div>
  </div>

  <div class="question">
    <div class="upper-space">
      <div class="question-title">
        質問タイトル
      </div>
      <div class="question-category">
        高校数学
      </div>
      <div class="question-date">
        2025/7/23(水) 21:41:51
      </div>
    </div>
    <div class="lower-space">
      <div class="question-user">
        MU
      </div>
      <div class="deadline">
        返答希望 7/25(金)まで
      </div>
    </div>
  </div>
</div>