<div class="side-bar">
  <div class="category">
    <div class ="category-name">
      <a href="#">category1</a>
    </div>
  </div>
  <div class="category">
    <div class ="category-name">
      <a href="#">category2</a>
    </div>
  </div>
</div>